mat-card{
    margin: 2% 2% 2% 2%;
}
mat-form-field{
   // margin: 1%;
    width: 40%;
    // text-align: center;
    
   // width: 400px;
}
form{
    text-align: center;
}
button{
    width: 100%;
}


// @import "~bootstrap/dist/css/bootstrap.min.css";
