<div class="container">
    <div class="row" style="margin: 30px;padding: 20px;">
    <div class="col-md-3">
      <div class="card-counter primary">
        <mat-icon>supervised_user_circle</mat-icon> &nbsp;&nbsp; 
        <span ><b style="font-size: large;">Students Count </b></span>  
        <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>2500</b></span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <mat-icon>home</mat-icon> &nbsp;&nbsp; 
        <span ><b style="font-size: large;">Centers Count </b></span>  
        <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>150</b></span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <mat-icon>chrome_reader_mode</mat-icon> &nbsp;&nbsp; 
        <span ><b style="font-size: large;">Batchs Count </b></span>  
        <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>450</b></span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <mat-icon>event</mat-icon> &nbsp;&nbsp; 
        <span ><b style="font-size: large;">Events Count </b></span>  
        <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>600</b></span>
      </div>
    </div>